<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Online Records Management</title>
	<script type="text/javascript" src="/javascripts/jquery.1.12.4.min.js"></script>
    <style>
		body{
			background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1588119374455&di=34710d3fbc105fbcee8c298779bb0e80&imgtype=0&src=http%3A%2F%2Fm1.biz.itc.cn%2Fpic%2Fnew%2Fn%2F32%2F75%2FImg5467532_n.jpg);
			background-size:100%;
		}
    </style>
</head>

<body>
<h1>All Squirrel Sightings</h1>

<table border="1">
<thead>
    <tr>
    <th>UniqueSquirrelID</th>
    <th>Edit</th>
    </tr>
</thead>
<tbody>
    {% for squirrel in object_list %}
    <tr>
    <td>{{ squirrel.Unique_Squirrel_ID }}</td>
    <td><a href="{% url "squirrel_update" squirrel.Unique_Squirrel_ID  %}">update</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "squirrel_add" %}">New</a>

</body>
</html>