<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Stats of sightings</title></head>

  <body style="background-color:powderblue;">
    <h2 style="font-family:verdana;text-align:center;">Statistics of sightings data of squirrels</h2>
    <ul style="list-style-type:square;">
      <li>Total number of sightings: {{a}}</li>
      <br>
      <li>Latitiude：min-{{b.min_latitude}}</li>
      <li>Latitiude：max-{{b.max_latitude}}</li>
      <br>
      <li>longitude：average is {{c.average_longitude}}</li>
      <br>
      <li>Location counts: {{e}}</li>
      <br>
      <li>Primary fur color counts: {{f}}</li>
      <br>
      <li>Shift counts: {{d}}</li></ul>
  </body>

</html>